.feynman__link {
    color: black;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    position: absolute;
    top: 50%;
    right: 48px;
    text-decoration: none;
  }
  
  .feynman__link:hover {
    transition: 1s;
    opacity: .3;
  }