@import url(../__image/cards__image.css);
@import url(../__title/cards__title.css);
@import url(../__description/cards__description.css);

.cards__item {
    width: 240px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-right: 100px;
}

.cards__item:nth-last-of-type(3) {
    margin-right: 0;
} 